.projects {
  text-align: left;
}

.projects h2 {
  margin-top: 0;
}

.projects span {
  color: var(--accent-color);
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  margin-top: 3rem;
  gap: 3rem;
}

.grid_item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image_container img {
  display: block;
  width: 100%;       
  max-width: 100%;  
  height: auto;     
  aspect-ratio: 16 / 9; 
  object-fit: cover;
  object-position: top;
  border: 1px dashed var(--main-light-color);
  transition: transform 0.25s;
  padding: 5px;
}

.image_container:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .grid_item {
    flex-direction: column; 
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .projects_grid {
     grid-template-columns: repeat(auto-fill, minmax(100%, 0fr)); 
  }
}

@media (prefers-color-scheme: light) {
  .image_container img {
    border: 1px dashed var(--main-dark-color);
  }
}
