footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
  padding: 2rem;
  border-top: 1.5px solid rgba(126, 125, 125, 0.3);
}

footer svg {
  width: 30px;
  height: 30px;
  stroke: var(--main-light-color);
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2em;
  padding-left: 0;
}

.imprint_link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  footer svg {
    stroke: var(--main-dark-color);
  }
}
