.typewriter_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.typewriter_hero h1 {
  align-self: flex-end;
}

.cursor {
  position: relative;
  color: var(--accent-color);
  bottom: 0.1em;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .typewriter_hero h1 {
    font-size: 1.8em;
  }
}